// @use 'styles/scss/variables' as *;

// .ant-skeleton {
//   width: 100%;
//   margin: 1rem 0;

//   &-content {
//     padding: 1.5rem 1rem;
//     border-radius: 0.5rem;
//     background: rgba($secondary-dark, 0.4);
//     box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
//   }
// }
