/*************************
 * LAYOUT
 *************************/
.track-slot {
  display: none;
}

@media screen and (min-width: 700px) {
  .track-slot {
    position: sticky;
    top: 3rem;
    z-index: 1000;
    display: block;
    padding: 10px 5px 5px;
  }
  .session {
    margin: 0;
  }
}

/* .schedule > * {
  background-color: green;
} */

/*************************
 * VISUAL STYLES
 *************************/

.text {
  max-width: 750px;
  margin: 0 auto 50px;
  font-size: 18px;
}

.meta {
  font-style: italic;
  color: #555555;
}
.meta a {
  color: #555555;
}

hr {
  margin: 40px 0;
}

.session {
  padding: 0.25rem;
  border-radius: 8px;
  font-size: 14px;
}

.title,
.time-slot {
  margin: 0;
  font-size: 1rem;
}

.track-slot,
.time-slot {
  font-size: 0.75em;
  font-weight: bold;
}

span {
  display: block;
}

.track-1 {
  color: #ffffff;
  background: linear-gradient(to right, #00b09b, #96c93d);
}
.track-2 {
  color: #ffffff;
  background: linear-gradient(to right, #000428, #004e92);
}
.track-3 {
  color: #ffffff;
  background: linear-gradient(to right, #cb356b, #bd3f32);
}
.track-4 {
  color: #ffffff;
  background: linear-gradient(to right, #f2994a, #f2c94c);
}
.track-5 {
  color: #ffffff;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}
.track-6 {
  color: #ffffff;
  background: linear-gradient(to right, #834d9b, #d04ed6);
}
.track-7 {
  color: #ffffff;
  background: linear-gradient(to right, #fffc00, #fffc00);
}

.track-many {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background: #cccccc;
}

ins {
  text-decoration: none;
  background-color: #ddffdd;
}
