@use 'scss/variables' as *;

@use 'antd/dist/antd';

@use 'scss/reset';
@use 'scss/global';
@use 'scss/ant';

// page change animation
.course_item-enter {
  opacity: 0;
  transform: scale(1.01);
}

.course_item-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms;
}

.course_item-exit {
  opacity: 1;
  transform: scale(1);
}

.course_item-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 100ms, transform 100ms;
}
