.body {
	height: 300vh;
}

.header {
	height: 100px;
}

.header__main {
	background-color: springgreen;
	position: sticky;
	top: 0;
}

.header__category--top {
	background-color: grey;
	position: sticky;
	top: 100px;
}

.header__category--middle {
	background-color: darkgrey;
	position: sticky;
	top: 100px;
}

.header__category--bottom {
	background-color: lightgrey;
	position: sticky;
	top: 100px;
}

.header__settings {
	background-color: gold;
	position: sticky;
	top: 100px;
}

.header,
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}

.main {
	background-color: dodgerblue;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}
