// Ant Design Overrides
@use 'variables' as *;

// MultiSelect
// ant-select-single ant-select-show-arrow
.ant-select {
  width: 100%;
  max-height: 2rem;

  &-selection-placeholder {
    font-size: 0.75rem;
    color: $text-placeholder;
  }

  &-selection--multiple {
    overflow: auto;
    height: 2rem;
    white-space: nowrap;
  }

  &-dropdown {
    top: 0;
  }
}

// .ant-select-selector {
//   display: flex;
//   align-items: center;
//   height: 2rem;
// }
